@import "variables";

.line {
  width: 100%;
  max-width: 1600px;
  height: 2px;
  background-color: $dark;
  margin: 2rem auto;
}

.contact {
  margin-bottom: 3rem;
  .intro {
    max-width: 1600px;
    padding: 1rem;
    @media screen and (max-width: $s) {
    }
    h1 {
      font-family: "Cerebri Sans";
      font-weight: 700;
      text-align: left;
      max-width: 800px;
      @media screen and (max-width: $s) {
        font-size: 3rem;
      }
    }
    .social {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        color: $brighter-accent;
        font-size: 1.2rem;
        border: 1px solid $brighter-accent;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          transform-origin: bottom;
          transition: all 400ms ease-in;
          width: 100%;
          transform: scaleY(0);
          height: 100%;
          position: absolute;
          background-color: $brighter-accent;
          z-index: -1;
        }

        &:hover::before {
          transform: scaleY(1);
        }
      }
    }
  }

  .contactForm {
    max-width: 1600px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;

    @media screen and (max-width: $m) {
      flex-direction: column;
      padding: 0;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 100%;

      @media screen and (max-width: $m) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        padding: 1rem;
        div {
          margin-right: 1rem;
        }
      }
      strong {
        font-family: "Cerebri Sans";
        font-weight: 300;
        color: lightgray;
        text-transform: uppercase;
      }
      p {
        font-family: "Cerebri Sans";
        line-height: 1.1;
        font-size: 1.3rem;
        margin-bottom: 4rem;
        max-width: 330px;
        font-weight: 300;

        a {
          transform-origin: left;
          transition: all 300ms ease-in;

          &:hover {
            color: $brighter-accent;
          }
        }
      }
    }
    .right {
      flex: 2;
      @media screen and (max-width: $m) {
        padding: 1rem;
        font-family: "Cerebri Sans";
        width: 100%;
      }
      strong {
        font-family: "Cerebri Sans";
        font-weight: 300;
        color: rgb(196, 196, 196);
        text-transform: uppercase;
      }
      form {
        margin-top: 3rem;
      }
      .input {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        p {
          font-family: "Cerebri Sans";
        }
        strong {
          margin-right: 1rem;
          padding: 1.1rem 2rem 0 0;
        }

        div {
          flex: 1;
          font-size: 1.1rem;
          input,
          select {
            border: 0;
            border-bottom: 1px solid $brighter-accent;
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            line-height: 0.4;
            transition: 300ms ease-in;
            outline: none;
            font-size: 2rem;
            &:focus {
              border-bottom: 1px solid $dark;
            }
          }
        }
      }
      .buttonDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        button {
          background-color: transparent;
          border: none;
          font-family: "Cerebri Sans";
          font-size: 4rem;
          margin-top: 4rem;
          cursor: pointer;
          span {
            transform-origin: left;
            transition: 400ms ease-in;
            color: black;
            &:hover {
              color: $brighter-accent;
              margin-right: 4px;
            }
          }
        }
        span {
          font-family: "Cerebri Sans";
          font-size: 4rem;
          margin-top: 4rem;
          color: $brighter-accent;
        }
      }
    }
  }
}
