@import './variables.scss';
.cursor {
  position: absolute;
  background-color: #333;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

.cursorFollower {
  position: absolute;
  background-color: $brighter-accent;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  z-index: 10000;
  transform: translate(5px, 5px);
}
