@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Yellowtail&display=swap');
@import 'variables';

html,
body {
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Amiri';
  font-size: 5rem;
  line-height: 0;
  font-weight: 300;
  text-align: center;
}

* {
  box-sizing: border-box;
  color: #1b1b1c;
  cursor: none !important;
}

section {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 4rem;
  @media screen and (max-width: $s) {
    padding: 2rem 0;
  }
}

h1 {
  font-family: 'Amiri';
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../assets/fonts/Cerebri\ Sans\ Book.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../assets/fonts/Cerebri\ Sans\ SemiBold.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../assets/fonts/Cerebri\ Sans\ Bold.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../assets/fonts/Cerebri\ Sans\ ExtraBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('../assets/fonts/Cerebri\ Sans\ Heavy.ttf');
  font-weight: 700;
  font-display: swap;
}
