@import "variables";

.works {
  h1 {
    font-family: "Cerebri Sans";
    font-weight: 700;
    text-align: left;

    @media screen and (max-width: $s) {
      font-size: 4rem;
    }
  }
  label {
    margin-right: 3rem;
    text-transform: uppercase;
    font-family: "Cerebri Sans";
    font-weight: 300;
  }

  .grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    
    .links {
      font-size: 1rem;
      margin-bottom: -0.8rem;
      margin-left: auto;
      margin-right: 1rem;
      a {
        margin-left: 1rem;
        padding: .3rem 1rem;
        border: 2px solid $brighter-accent;
        font-family: Cerebri Sans;
        font-weight: 100px;
        border-radius: 2rem;
        transition: 400ms all ease;
        &:hover{
          background: $brighter-accent;
          color: white;
        }
        @media screen and (max-width: $s) {
          margin-left: 0;
          margin-right: 1rem;
        }
        svg {
          fill: $accent;
          transition: 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
          &:hover {
            fill: $brighter-accent;
          }
        }
      }
    }

    .gridItem {
      max-width: 750px;
      width: 50%;
      @media screen and (max-width: 649px) {
        width: 100%;
      }
      justify-content: space-between;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      &:nth-child(odd) > .gridItemImage {
        background-color: $accent;
      }
      &:nth-child(even) > .gridItemImage {
        background-color: $brighter-accent;
      }
      .gridItemDesc {
        width: 90%;
        font-family: "Cerebri Sans";
        line-height: 1.4;
        padding-left: 1rem;
        font-size: 1rem;
      }
      .languages {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;
        @media screen and (max-width: $s) {
          margin-bottom: 1rem;
        }

        .language {
          margin-right: 1rem;
          padding: 0.5rem 0.8rem;
          background: #c9d1c3;
          color: white;
          border-radius: 2rem;
          font-family: "Cerebri Sans", sans-serif;
          font-weight: 300;
        }
      }

      .gridItemImage {
        max-width: 750px;
        width: 100%;
        max-height: 750px;
        position: relative;
        overflow: hidden;

        img {
          transition: 500ms all cubic-bezier(0.075, 0.82, 0.165, 1);
          width: 100%;
          height: 100%;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      strong {
        font-weight: 300;
        font-family: "Cerebri Sans";
        color: #666;
        margin-top: 2.5rem;
        margin-bottom: -0.5rem;
        font-size: 0.8rem;
        letter-spacing: 1.2px;
      }

      h3 {
        font-size: 5vw;
        margin-top: 1rem;
        line-height: 4.5vw;
        font-family: "Amiri";
        margin-bottom: 0rem;
        padding-left: 1rem;
      }

     
    }
  }
}

.line {
  width: 100%;
  max-width: 1600px;
  height: 2px;
  background-color: $dark;
  margin: 2rem auto;
}


