@import "variables";

.works {
  h1 {
    font-family: "Cerebri Sans";
    font-weight: 700;
    text-align: left;
  }
  label {
    margin-right: 3rem;
    text-transform: uppercase;
    font-family: "Cerebri Sans";
    font-weight: 300;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;

    .gridItem {
      position: relative;
      max-width: 700px;
      width: 90%;
      justify-content: space-between;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-bottom: 8rem;
      margin: 0 auto;

      .gridItemImage {
        max-width: 700px;
        width: 100%;
        height: 700px;
        position: relative;
        overflow: hidden;
        img {
          transition: 700ms all ease-in;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      strong {
        font-weight: 300;
        font-family: "Cerebri Sans";
        color: #666;
        margin-top: 2.5rem;
        margin-bottom: -0.5rem;
        font-size: 0.8rem;
        letter-spacing: 1.2px;
      }

      h3 {
        font-size: 3rem;
        line-height: 0.1;
      }
    }
  }
}

.line {
  width: 100%;
  max-width: 1600px;
  height: 2px;
  background-color: $dark;
  margin: 2rem auto;
}
